html,
body{
margin: 0;
padding: 0;
font-family: RobotoMono;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Staatliches;
}

.embedVideo-container{
    display: flex;
}


@font-face {
    font-family: 'Staatliches';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url(/fonts/Staatliches-Regular.ttf) format("truetype");
  }
@font-face {
    font-family: "RobotoFlex";
    src: url(/fonts/RobotoFlex-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "RobotoMono";
    src: url(/fonts/RobotoMono-Regular.ttf) format("truetype");
}